.label {
    -fx-text-fillq: rgb(29, 198, 210);

}

.button {
    -fx-text-fill: rgb(30, 255, 0);
}

.letter {
    -fx-font-size: 95px;
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman";
}
